html,
body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    font-size: 0;
}

body::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.game-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    min-height: 330px;
    vertical-align: middle;
    box-shadow: 0 0 15px 1px;
    background-color: #000;
}
