html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
}

.game-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
}
